body{
    margin: 0;
    background: center/100% 100% url( "../img/criptografia.png");
}

h1{
    text-align: center;
    color: aliceblue;
    text-shadow: black 5px 10px;
}

.box-principal{
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#campo-texto{
    border: 2px solid black;
    width: 233px;
}

.box-campo-butao{
    display: flex;
    flex-direction: column;
}

.box-butoes{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.codificador{
    border: 2px solid #6bc3e7;
    border-radius: 7px;
    background-color: black;
    color: white;
}

.codificador:hover{
    border: 2px solid black;
    border-radius: 7px;
    background-color: #00224e;
    color: aliceblue;
    font-weight: bold;
    text-decoration: underline;
}

.descodificador{
    border: 2px solid #6bc3e7;
    border-radius: 7px;
    background-color: black;
    color: white;
}

.descodificador:hover{
    border: 2px solid black;
    border-radius: 7px;
    background-color: #00224e;
    color: aliceblue;
    font-weight: bold;
    text-decoration: underline;
}

.box-resposta{
    display: flex;
    flex-direction: column;
    padding: 6px;
}

#area-resposta{
    border: 2px solid black ;
    font-size: 20px;
    padding: 15px;
    text-align: justify;
    color: #00224e;
    font-weight: bold;
}

.butao-copiar{
    text-align: center;
    padding-top: 10px;
}

.copy{
    border: 2px solid #6bc3e7;
    border-radius: 7px;
    background-color: black;
    color: white;
}

.copy:hover{
    border: 2px solid black;
    border-radius: 7px;
    background-color: #00224e;
    color: aliceblue;
    font-weight: bold;
    text-decoration: underline;
}

footer{
    font-weight: bold;
    text-align: center;
}

p{
    color: #000;
}